*
!README.md
!LICENSE
!.gitignore
!.gitconfig
!.gitmessage
!.spacemacs
!.zshrc
!.zprofile
!.zshenv
!.xbindkeysrc
!.xinitrc
!.config
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/betterlockscreenrc
!.config/bat/
!.config/bat/config
!.config/compton/
!.config/compton/compton.conf
!.config/colorls/
!.config/colorls/dark_colors.yaml
!.config/colorls/files.yaml
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/rofi/
!.config/rofi/andrea.rasi
!.config/rofi/config
!.config/rofi/menu.rasi
!.config/cmus/
!.config/cmus/autosave
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/picom/
!.config/picom/picom.conf
!.config/ranger/
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/mako/
!.config/mako/config
!.config/i3/
!.config/i3/config
!.config/i3blocks/
!.config/i3blocks/config
!.scripts
!.scripts/config.sh
!.scripts/monitors.sh
!.scripts/packages.sh
!.scripts/pacman.sh
!.scripts/shared.sh
!.scripts/users.sh
!.scripts/wallpapers.sh
!.images
!.images/wallpaper.jpeg
!.images/icons8-dog-100.png
!.images/desktop.png
!.images/rofi.png
!.images/spacemacs.png
!.images/terminals.png
!.images/zsh-features.png
!.config/waybar/
!.config/waybar/config
!.config/waybar/style.css
!.config/sway/
!.config/sway/config