# Ignore files not tracked by Git
*

# Files currently being tracked by Git and contained in this repo
!.config/neofetch/config.conf
!.config/terminator/config
!.config/rofi/config
!.config/rofi/andrea.rasi
!.i3/*
!.taipei.jpg
!.cyberpunk.jpg
!.bragging.jpg
!.desktop.png
!.terminals.png
!.rofi-drun.png
!.rofi-window.png
!.spacemacs.png
!.mandelbrot.png
!.git-tracking.png
!.spacemacs
!.gitignore
!.i3blocks.conf
!.pacman.sh
!.zshrc
!.zshrc
!.xbindkeysrc
!.profile
!.happy.png
!.zsh-features.png
!README.md
