#!/usr/bin/env bash

# ZSH_CUSTOM defaults to ~/.oh-my-zsh/custom if not already set
ZSH_CUSTOM="${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/plugins"

declare -A PLUGINS=(
  ["zsh-autosuggestions"]="https://github.com/zsh-users/zsh-autosuggestions.git"
  ["zsh-completions"]="https://github.com/zsh-users/zsh-completions.git"
  ["zsh-history-substring-search"]="https://github.com/zsh-users/zsh-history-substring-search.git"
  ["zsh-syntax-highlighting"]="https://github.com/zsh-users/zsh-syntax-highlighting.git"
)

mkdir -p "$ZSH_CUSTOM"

for plugin in "${!PLUGINS[@]}"; do
  plugin_dir="$ZSH_CUSTOM/$plugin"
  if [ ! -d "$plugin_dir" ]; then
    echo "➡️ Installing $plugin..."
    git clone --depth=1 "${PLUGINS[$plugin]}" "$plugin_dir"
  else
    echo "✔️ $plugin already installed"
  fi
done
