* {
    font-family: CaskaydiaCove Nerd Font;
    font-size: 1.25rem;
}

window#waybar {
    border-radius: 0;
    box-shadow: inset 0 -3px #000000;
    color: #9a9a9a;
    transition-duration: .5s;
    transition-property: background-color;
    background-color: #22212c;
}

#window {
    color: #f8f8f2;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    background-color: transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    color: #9a9a9a;
}

#workspaces button {
    padding: 0.25rem 0.75rem;
}

#workspaces button.focused {
    box-shadow: inset 0 2px #9580ff;
    color: #ffff80;
}

#workspaces button:hover {
    color: #ffff80;
}

#workspaces button.focused:hover {
    box-shadow: none;
    color: #9580ff;
}

#workspaces button.urgent {
    box-shadow: inset 0 2px #ff9580;
    color: #ff9580;
}

#workspaces button.urgent:hover {
    background: #ff9580;
    color: #22212c;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#workspaces {
    padding-right: 1rem;
}

/*******************/
/* Modules section */
/*******************/

#battery,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    margin: 0 0.5rem;
}

#battery,
#idle_inhibitor,
#tray {
    margin: 0 0;
}

#battery,
#idle_inhibitor {
    padding-right: 1rem;
}

#cpu,
#temperature.cpu {
    box-shadow: inset 0 2px #ff9580;
    color: #ff9580;
}

#pulseaudio {
    box-shadow: inset 0 2px #ffff80;
    color: #ffff80;
}

#clock.local {
    box-shadow: inset 0 2px #8aff80;
    color: #8aff80;
}

#battery,
#idle_inhibitor,
#keyboard-state,
#network,
#tray,
#custom {
    box-shadow: inset 0 2px #80ffea;
    color: #80ffea;
}

#memory {
    box-shadow: inset 0 2px #9580ff;
    color: #9580ff;
}

#disk {
    box-shadow: inset 0 2px #ff80bf;
    color: #ff80bf;
}

#custom-media {
    color: #ff80bf;
}

#cpu,
#keyboard-state {
    margin-right: 0;
}

#temperature.cpu {
    margin-left: 0;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
